<form [formGroup]="form">
  <div class="form-group">
    <label>Old Password</label>
    <input type="password" class="form-control" formControlName="oldPassword">
    <div *ngIf="oldPassword.touched && oldPassword.invalid">
      <div class="alert alert-danger" *ngIf="oldPassword.errors.required">Old Password is required.</div>
      <div class="alert alert-danger" *ngIf="oldPassword.errors.invalidPassword">Old Password is wrong.</div>
    </div>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" class="form-control" formControlName="newPassword">
    <div *ngIf="newPassword.touched && newPassword.invalid">
      <div class="alert alert-danger" *ngIf="newPassword.errors.required">New Password is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" formControlName="confirmPassword">
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <div class="alert alert-danger" *ngIf="confirmPassword.errors.required">Confirm Password is required.</div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && form.invalid && form.errors?.doNotMatch">Passwords do not match..</div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>