<form [formGroup]="form">
  <div class="form-group">
    <label for="">Old Password</label>
    <input class="form-control" type="text" formControlName="oldPassword" (keyup)="oldPasswordCheck(oldPassword)">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">Old password is required.</div>
  </div>
  <div class="form-group">
    <label for="">New Password</label>
    <input class="form-control" type="text" formControlName="newPassword" (keyup)="newPasswordCheck(newPassword)">
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">New password is required.</div>
  </div>
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input class="form-control" type="text" formControlName="confirmPassword" (keyup)="confirmPasswordCheck(confirmPassword)">
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">Confirm password is required.</div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>