<h1>Angular</h1>
<div *ngIf="audience.length > 0; then hasAudience else noAudience">
</div>
<ng-template #hasAudience>
    <h2>List of audience:</h2>
    <li *ngFor="let people of audience">
        <ul>{{ people }}</ul>
    </li></ng-template>
<ng-template #noAudience>
    <h2>No audience yet.</h2>
</ng-template>
<ul *ngFor="let obj of arrayOfObjs; index as i; even as isEven">
    <li>{{ i }} {{ obj.gender }}<span *ngIf="isEven"> EVEN</span></li>
</ul>
<!--
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewType == 'map'"
        (click)="viewType='map'">Map View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="viewType == 'list'"
        (click)="viewType='list'">List View</a>
    </li>
</ul>
<div [ngSwitch]="viewType">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>

<bootstrap-panel>
    <ng-container class="header">Header</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Text of body here</p>
    </div>
</bootstrap-panel>
<twitter-like 
[likesCount]="tweet.likesCount" 
[isLiked]="tweet.isLiked">
</twitter-like>
<p>{{ counts }}</p>
-->